---
---

<div class="mx-auto flex w-full flex-col items-center justify-center text-center">
  <h2>Rezervirajte termin</h2>
  <!-- TODO: dodati novu adresu -->
  <p class="pb-24"></p>
  <iframe
    src="https://buker.hr/margetahairstudio/rezervacije"
    width="800"
    height="600"
    style="border: none; overflow: hidden;"></iframe>
</div>
