---
import MapComponentReact from './MapComponentReact.tsx'
---

<div class="mx-auto flex w-full flex-col items-center justify-center text-center">
  <h2>Pronađite nas</h2>
  <!-- TODO: dodati novu adresu -->
  <p class="pb-24"></p>
  <MapComponentReact client:only="react" />
</div>
