---
import BaseLayout from "../layouts/BaseLayout.astro";
import PriceList from "../components/PriceList.astro";
import "../styles/global.css";
---

<BaseLayout>
  <a href="https://margeta.hr">
    <img
      src="/margeta-hair-logo.webp"
      alt="margeta hair studio logo"
      class="ml-5 w-[100%] lg:w-[25%] pb-6"
    />
  </a>
  <PriceList />
</BaseLayout>
